<html>
    <head>
         <style>
            body
{
    font-family: Roboto,sans-serif;
    background-color: aquamarine;
}
h1
{
    text-align: center;
}




.startups,.ceos
{
    justify-content: space-around;
    padding-top: 2rem;    
    display: flex;
    width: 100%;
    background-color: blue;
    flex-wrap: wrap;
}
.startup ,.ceo
{
    text-align: center;
    padding:1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30%;
    height: fit-content;
    background-color: yellow;
}
        </style>
        
        <link rel="stylesheet" href="css/style.css">
        <title>
            document     
        </title>
    </head>
    <body>
        
        {{{body}}} 
           </body>
</html>