<h1>Chief Executive Officer</h1>
<span class="ceos">
{{#each result}}
<div class="ceo">

      
 The ceo of <b><i>{{this.id}}{{this.company}}</i></b> is <b><i>{{this.name}}</i></b>
 </div>
{{/each}}
</span>