<h1>STARTUPS</h1>
<span class="startups">
{{#each result}}
<div class="startup">

      
<h2>{{this.id}}.{{this.name}}</h2>
<p>The type of startup is <i><b>{{this.type}}.</b></i></p>
<p>It was founded in the year <i><b> {{this.year}}.</b></i></p>
<p> It is based in <b><i>{{this.country}}.</i></b></p>
<p>It was founded by <b><i>{{this.ceo}}</i></b></p>
</div>
{{/each}}
</span>