body
{
    font-family: Roboto,sans-serif;
    background-color: aquamarine;
}
h1
{
    text-align: center;
}





span
{
    justify-content: space-around;
    padding-top: 2rem;    
    display: flex;
    width: 100%;
    background-color: blue;
    flex-wrap: wrap;
}
div
{
    text-align: center;
    padding:1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30%;
    height: fit-content;
    background-color: yellow;
}
